body {
    align-items: center;
    text-align: center;
    background-color: rgb(95, 95, 95);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flexbox;
}

.caja1 {
    margin-top: 25px;
    width: 43.5vh;
    height: 11vh;
    background:   rgb(62, 127, 153);
    border-radius: 10px;
    position: relative;
    left: 0.7vh;
}

.pantalla1 { 
    font-size: 5rem;
    position: absolute;
    top: 1.1vh;
    left: 1.1vh;
    background: rgb(255, 0, 0);
    width: 18vh;
    height: 80%;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Click1 {
    top: 10px;
    left: 190px;
    position: absolute;
    width: 21.5vh;
    height: 80%;
    border-radius: 5px;
    background-color: aqua  ;
}